/* 
    Color Plated : 
    1. #0070ff  --- Main
    2. #fe5d26  --- Button
    3. #222831  --- Heading
    4. #8f8f8f  --- Text
*/
/*---------------- Default Style -----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
}
.poppins {
    font-family: "Poppins", sans-serif;
}

/*------------------- Default Button -----------------*/
.btn {
    background: #fe5d26;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}

/*---------------- Header Section Style ---------------*/

header {
    background: url(/Assets/Hero-bg.png);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: 0 auto;
    padding: 2rem 0;
}
.logo {
    font-size: 3rem;
    font-weight: 900;
    color: #0070ff;
}
.logo span {
    font-style: italic;
    color: #fe5d26;
}

/*--------------- Banner Section Style -----------------*/
.banner {
    max-width: 60vw;
    margin: 0 auto;
    text-align: center;
}
.banner-title {
    font-size: 4rem;
    font-weight: 800;
    color: #222831;
    padding: 8rem 0 2rem;
}
.banner button {
    margin-bottom: 8rem;
}

/*------------- Main Section Style ----------------*/
main {
    background: rgba(0, 112, 255, 0.1);
}
.main-container {
    max-width: 80vw;
    margin: 0 auto;
}

/*----- Acton Container Style --------*/
.action-container {
    margin: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12rem;
}
.action-content {
    width: 50%;
}
.action-container img {
    width: 50%;
    border-radius: 50px;
}
.action-title {
    font-size: 2.6rem;
    font-weight: 700;
    color: #222831;
}
.action-details {
    font-size: 1.3rem;
    color: #8f8f8f;
    padding: 1.2rem 0;
    line-height: 1.8rem;
}

/*----- Effective User Container Style ------*/
.eff-user-container {
    background: rgba(254, 186, 23, 0.1);
    margin-bottom: 6rem;
    border-radius: 20px;
}
.eff-user-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #222831;
    text-align: center;
    margin: 3rem 0;
}
.user-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 3rem;
}
.user-container h1 {
    font-size: 5rem;
    color: #0070ff;
}
.user-container p {
    font-size: 1.3rem;
    color: #8f8f8f;
    font-weight: 500;
}

/*----- Users Feedback Container Style ------*/
.feedback-title {
    font-size: 2.6rem;
    font-weight: 700;
    color: #222831;
    text-align: center;
    margin-bottom: 3rem;
}
.feedback-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.feedback-card {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
}
.feedback-text {
    margin: 1.2rem 0;
}
.feedback-text h4 {
    font-size: 1.5rem;
    color: #222831;
    padding-bottom: 0.5rem;
}
.feedback-text p {
    font-weight: 500;
    color: #222831;
}
.feedback-user {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.feedback-user img {
    border-radius: 50%;
}
.feedback-user h6 {
    font-size: 1.1rem;
    color: #4d4d4d;
    padding-bottom: 5px;
}
.feedback-user p {
    color: #8f8f8f;
}

/*------- Focus Section Style --------*/
.focus-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 4rem;
    margin: 8rem 0;
    text-align: center;
}
.focus-title {
    font-size: 3rem;
    font-weight: 700;
    color: #222831;
}
.focus-details {
    font-weight: 500;
    color: #8f8f8f;
    padding: 1rem 0;
}
.focus-container a {
    margin: 1rem 0;
    display: block;
}
.focus-container img {
    border-radius: 30px;
}

/*------- Get In Touch Section Style --------*/
.touch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin: 2rem 0 5rem;
}
.touch-title {
    width: 50%;
    font-size: 5rem;
    color: #222831;
}
.form-container {
    width: 50%;
}
.form-container input,
textarea {
    font-size: 1.2rem;
    font-weight: 500;
    color: #8f8f8f;
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
}
.form-container button {
    width: 100%;
}
.label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222831;
}
